.container{
  padding: 40px 80px;
}

.desc{
  font-weight: 400;
  font-size: 18px;
  width: 315px;
  margin-bottom: 80px;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 60px;
}

.content h1{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.content p{
  width: 315px;
  font-size: 18px;
  font-weight: 400;
}